{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Healthy Baby</title>
        
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
        <link href="assets/favicon.ico" rel="stylesheet">

    </head>
    <body class="home-page bg-gray">
        <nav class="navbar navbar-expand-lg bg-transparent navbar-dark fixed-top" id="mainNav" style="background-color: transparent !important;">
            <div class="container bg-transparent">
                <div class="dropdown">
                    <button class="dropbtn bg-transparent">☰</button>
                    <div class="dropdown-content">
                        <a href="{% url 'healthybaby:listagem' %}">Lista de gestantes</a>
                        <a href="{% url 'healthybaby:cadastroGestante' %}">Cadastro de gestante</a>
                        <a href="{% url 'healthybaby:posParto' %}">Dados sobre o parto</a>
                        <a href="{% url 'healthybaby:consultaOdonto' %}">Consulta odontológica</a>
                        <a href="{% url 'healthybaby:consultas' %}">Consultas</a>
                    </div>
                </div>
                <a class="navbar-brand masthead-subheading text-white" href="{% url 'healthybaby:index' %}">Healthy Baby</a>
                <div class="collapse navbar-collapse bg-transparent" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <div class="input-group mx-4">
                            <input type="text" class="form-control bg-transparent" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-light bg-transparent" type="button">
                              <i class="bi bi-search text-white"></i>
                            </button>
                        </div>                          
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn dropdown-toggle p-0 text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'assets/img/user.jpg' %}" alt="Usuário" class="rounded-circle w-10 h-10 custom-img" style="width: 40px; height: 40px;">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'healthybaby:logout' %}">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>                        
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead3" style="background-image: url('{% static "assets/img/header3.jpg" %}');">
            <div class="container mt-6">
                <div class="masthead-heading3 text-uppercase">Consultas odontológicas</div>
                <div class="masthead-subheading3">Todas as informações sobre as consultas!</div>
            </div>
        </header>
        <br>

        <div class="container mt-5">
            <form method="post" class="row g-3" action="{% url 'healthybaby:consultaOdonto'%}">
                {% csrf_token %}
                    <div class="col-md-4">
                        <label for="{{ form.nome_gestante.id_for_label }}">Nome da gestante</label>
                        {{ form.nome_gestante }}
                        {% if form.nome_gestante.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.nome_gestante.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.data_nascimento_gestante.id_for_label }}">Data da nascimento da gestante</label>
                        {{ form.data_nascimento_gestante }}
                        {% if form.data_nascimento_gestante.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.data_nascimento_gestante.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.cpf_gestante.id_for_label }}">CPF da gestante</label>
                        {{ form.cpf_gestante }}
                        {% if form.cpf_gestante.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.cpf_gestante.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dados</th>
                                <th class="col-md-2">Possui</th>
                                <th class="col-md-2">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Presença de placa visível:</th>
                                <th class="col-md-2">{{ form.placa_viavel}}</th>
                                <th class="col-md-2">{{ form.placa_viavel_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de sangramento espontâneo:</th>
                                <th class="col-md-2">{{ form.placa_sangramento}}</th>
                                <th class="col-md-2">{{ form.placa_sangramento_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de sangramento à sondagem em 
                                    pelo menos 10% dos sitios* presentes:</th>
                                <th class="col-md-2">{{ form.placa_sangramento_sondagem}}</th>
                                <th class="col-md-2">{{ form.placa_sangramento_sondagem_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de cálculo dentário:</th>
                                <th class="col-md-2">{{ form.calculo_dentario}}</th>
                                <th class="col-md-2">{{ form.calculo_dentario_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de mobilidade:</th>
                                <th class="col-md-2">{{ form.mobilidade}}</th>
                                <th class="col-md-2">{{ form.mobilidade_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de perda de inserção com 
                                    dianóstico de periodontite:</th>
                                <th class="col-md-2">{{ form.perda_insercao}}</th>
                                <th class="col-md-2">{{ form.perda_insercao_data}}</th>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-md-12">
                        <label for="{{ form.plano_tratamento.id_for_label }}">Plano de tratamento (por consulta):</label>
                        {{ form.plano_tratamento }}
                        {% if form.plano_tratamento.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.plano_tratamento.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <table class="table">
                        <h4>Plano de tratamento (por consulta):</h4>
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Dente</th>
                                <th>Procedimento realizado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.tratamento_data}}</td>
                                <td>{{ form.tratamento_dente }}</td>
                                <td>{{ form.procedimento_realizado }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <h4>Necessidade de encaminhamento para a referência (para o cirurgião-dentista)</h4>
                        <thead>
                            <tr>
                                <th>Especialidade</th>
                                <th>Tratamento necessário</th>
                                <th>Encaminhamento</th>
                                <th>Retorno</th>
                                <th>Plano cuidado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.especialidade}}</td>
                                <td>{{ form.tratamento_necessario }}</td>
                                <td>{{ form.encaminhamento }}</td>
                                <td>{{ form.retorno}}</td>
                                <td>{{ form.plano_cuidado}}</td>
                            </tr>
                        </tbody>
                    </table>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary bg-blue">Cadastrar</button>
                </div>
            </form>
        </div>

        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; Healthy Baby 2024</div>
                    <div class="col-lg-2 text-lg-start"><a href=""></a></div>
                    <div class="col-lg-3 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-auto text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
                        <a class="link-dark text-decoration-none me-" href="#!">Termos de uso</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
