{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>Healthy Baby</title>
        
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

        <style>
            .group {
                display: flex;
                gap: 10px;
                margin-bottom: 15px;
            }
            .tooth {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                user-select: none;
                font-weight: bold;
            }
            .selected {
                background-color: lightblue;
            }
        </style>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
        <link href="assets/favicon.ico" rel="stylesheet">

    </head>
    <body class="home-page bg-gray">
        <nav class="navbar navbar-expand-lg bg-transparent navbar-dark fixed-top" id="mainNav" style="background-color: transparent !important;">
            <div class="container bg-transparent">
                <div class="dropdown">
                    <button class="dropbtn bg-transparent">☰</button>
                    <div class="dropdown-content">
                        <a href="{% url 'healthybaby:listagem' %}">Lista de gestantes</a>
                        <a href="{% url 'healthybaby:cadastroGestante' %}">Cadastro de gestante</a>
                        <a href="{% url 'healthybaby:posParto' %}">Dados sobre o parto</a>
                        <a href="{% url 'healthybaby:consultaOdonto' %}">Consulta odontológica</a>
                    </div>
                </div>
                <a class="navbar-brand masthead-subheading text-white" href="{% url 'healthybaby:index' %}">Healthy Baby</a>
                <div class="collapse navbar-collapse bg-transparent" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">                         
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn dropdown-toggle p-0 text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'assets/img/user.jpg' %}" alt="Usuário" class="rounded-circle w-10 h-10 custom-img" style="width: 40px; height: 40px;">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'healthybaby:logout' %}">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>                        
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead3" style="background-image: url('{% static "assets/img/header3.jpg" %}');">
            <div class="container mt-6">
                <div class="masthead-heading3 text-uppercase">Consultas odontológicas</div>
                <div class="masthead-subheading3">Todas as informações sobre as consultas!</div>
            </div>
        </header>
        <br>

        <div class="container mt-5">
            <form method="post" class="row g-3" action="{% url 'healthybaby:consultaOdonto'%}">
                {% csrf_token %}

                    <table class="table">
                        <h4>Plano de tratamento (por consulta):</h4>
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Dente</th>
                                <th>Procedimento realizado</th>
                                <th>CPF da gestante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.tratamento_data}}</td>
                                <td>{{ form.tratamento_dente }}</td>
                                <td>{{ form.procedimento_realizado }}</td>
                                <td>{{ form.cpf_gestante}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dados</th>
                                <th class="col-md-2">Possui</th>
                                <th class="col-md-2">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Presença de placa visível:</th>
                                <th class="col-md-2">{{ form.placa_viavel}}</th>
                                <th class="col-md-2">{{ form.placa_viavel_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de sangramento espontâneo:</th>
                                <th class="col-md-2">{{ form.placa_sangramento}}</th>
                                <th class="col-md-2">{{ form.placa_sangramento_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de sangramento à sondagem em 
                                    pelo menos 10% dos sitios* presentes:</th>
                                <th class="col-md-2">{{ form.placa_sangramento_sondagem}}</th>
                                <th class="col-md-2">{{ form.placa_sangramento_sondagem_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de cálculo dentário:</th>
                                <th class="col-md-2">{{ form.calculo_dentario}}</th>
                                <th class="col-md-2">{{ form.calculo_dentario_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de mobilidade:</th>
                                <th class="col-md-2">{{ form.mobilidade}}</th>
                                <th class="col-md-2">{{ form.mobilidade_data}}</th>
                            </tr>
                            <tr>
                                <th>Presença de perda de inserção com 
                                    dianóstico de periodontite:</th>
                                <th class="col-md-2">{{ form.perda_insercao}}</th>
                                <th class="col-md-2">{{ form.perda_insercao_data}}</th>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-md-12">
                        <label for="{{ form.plano_tratamento.id_for_label }}">Plano de tratamento (por consulta):</label>
                        {{ form.plano_tratamento }}
                        {% if form.plano_tratamento.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.plano_tratamento.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <table class="table mt-2">
                        <h4 class="mt-5">Necessidade de encaminhamento para a referência (para o cirurgião-dentista)</h4>
                        <thead>
                            <tr>
                                <th>Especialidade</th>
                                <th>Tratamento necessário</th>
                                <th>Encaminhamento</th>
                                <th>Retorno</th>
                                <th>Plano cuidado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.especialidade}}</td>
                                <td>{{ form.tratamento_necessario }}</td>
                                <td>{{ form.encaminhamento }}</td>
                                <td>{{ form.retorno}}</td>
                                <td>{{ form.plano_cuidado}}</td>
                            </tr>
                        </tbody>
                    </table>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary bg-blue">Cadastrar</button>
                </div>
            </form>
        </div>

        <footer class="footer py-4 mt-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; Healthy Baby 2024</div>
                    <div class="col-lg-2 text-lg-start"><a href=""></a></div>
                    <div class="col-lg-3 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-auto text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
                        <a class="link-dark text-decoration-none me-" href="#!">Termos de uso</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const toothNumbers = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28,48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38];
    
                const group1 = document.getElementById("group1"); // 10-19
                const group2 = document.getElementById("group2"); // 20-29
                const group3 = document.getElementById("group3"); // 30-39
                const group4 = document.getElementById("group4"); // 40-49
    
                // Criar os botões dos dentes dentro de cada grupo
                toothNumbers.forEach(num => {
                    let tooth = document.createElement("div");
                    tooth.classList.add("tooth");
                    tooth.textContent = num;
                    tooth.setAttribute("data-number", num);
    
                    // Adicionar evento de clique
                    tooth.addEventListener("click", function() {
                        this.classList.toggle("selected");
                    });
    
                    // Distribuir nos grupos corretos
                    if (num >= 10 && num < 20) {
                        group1.appendChild(tooth);
                    } else if (num >= 20 && num < 30) {
                        group2.appendChild(tooth);
                    } else if (num >= 30 && num < 40) {
                        group3.appendChild(tooth);
                    } else if (num >= 40 && num < 50) {
                        group4.appendChild(tooth);
                    }
                });
    
                // Botão de confirmação
                document.getElementById("confirmSelection").addEventListener("click", function() {
                    let selectedTeeth = [];
                    document.querySelectorAll(".tooth.selected").forEach(tooth => {
                        selectedTeeth.push(tooth.getAttribute("data-number"));
                    });
    
                    if (selectedTeeth.length > 0) {
                        fetch("/salvar-dentes/", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": getCSRFToken()
                            },
                            body: JSON.stringify({
                                nome: "Paciente Teste",  // Substituir por um input real
                                dentes: selectedTeeth
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message || "Erro ao salvar.");
                        })
                        .catch(error => console.error("Erro:", error));
                    } else {
                        alert("Nenhum dente selecionado.");
                    }
                });
    
                // Função para obter o CSRF Token do Django
                function getCSRFToken() {
                    return document.cookie.split("; ").find(row => row.startsWith("csrftoken="))?.split("=")[1];
                }
            });
        </script>
    </body>
</html>
