{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Healthy Baby</title>
        
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

        <script>
            function filtrarConsulta() {
                let cpf = "{{ gestante.cpf }}";
                let data = document.getElementById("consulta_select").value;
                window.location.href = `/detalhes/${cpf}/?data_consulta=${data}`;
            }
    
            function filtrarConsultaOdonto() {
                let cpf = "{{ gestante.cpf }}";
                let data = document.getElementById("odonto_select").value;
                window.location.href = `/detalhes/${cpf}/?data_odonto=${data}`;
            }
        </script>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
        <link href="assets/favicon.ico" rel="stylesheet">

    </head>
    <body class="home-page bg-gray">
        <nav class="navbar navbar-expand-lg bg-transparent navbar-dark fixed-top" id="mainNav" style="background-color: transparent !important;">
            <div class="container bg-transparent">
                <div class="dropdown">
                    <button class="dropbtn bg-transparent">☰</button>
                    <div class="dropdown-content">
                        <a href="{% url 'healthybaby:listagem' %}">Lista de gestantes</a>
                        <a href="{% url 'healthybaby:cadastroGestante' %}">Cadastro de gestante</a>
                        <a href="{% url 'healthybaby:posParto' %}">Dados sobre o parto</a>
                        <a href="{% url 'healthybaby:consultaOdonto' %}">Consulta odontológica</a>
                    </div>
                </div>
                <a class="navbar-brand masthead-subheading text-white" href="{% url 'healthybaby:index' %}">Healthy Baby</a>
                <div class="collapse navbar-collapse bg-transparent" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <div class="input-group mx-4">
                            <input type="text" class="form-control bg-transparent" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-light bg-transparent" type="button">
                              <i class="bi bi-search text-white"></i>
                            </button>
                        </div>                          
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn dropdown-toggle p-0 text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'assets/img/user.jpg' %}" alt="Usuário" class="rounded-circle w-10 h-10 custom-img" style="width: 40px; height: 40px;">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'healthybaby:logout' %}">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>                        
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead4" style="background-image: url('{% static "assets/img/header6.jpg" %}');">
            <div class="container mt-6">
                <div class="masthead-heading4 text-uppercase">Informações de {{ gestante.nome }}</div>
                <div class="masthead-subheading4">Aqui você pode ver todas as informações da gestante!</div>
            </div>
        </header>
        <br>


    <h1>Informações da Gestante</h1>
    <p><strong>Nome:</strong> {{ gestante.nome }}</p>
    <p><strong>CPF:</strong> {{ gestante.cpf }}</p>
    <p><strong>Data Prevista para Parto:</strong> {{ gestante.data_prevista_parto }}</p>

    <h2>Selecione uma Consulta Médica</h2>
    <select id="consulta_select" onchange="filtrarConsulta()">
        <option value="">Selecione uma data</option>
        {% for consulta in consultas %}
            <option value="{{ consulta.data_consulta|date:'Y-m-d' }}" {% if consulta_selecionada and consulta.data_consulta == consulta_selecionada.data_consulta %}selected{% endif %}>
                {{ consulta.data_consulta|date:'d/m/Y' }}
            </option>
        {% endfor %}
    </select>

    {% if consulta_selecionada %}
    <h3>Detalhes da Consulta</h3>
    <p><strong>Data:</strong> {{ consulta_selecionada.data_consulta }}</p>
    <p><strong>Unidade de Saúde:</strong> {{ consulta_selecionada.unidade_saude }}</p>
    <p><strong>Profissional:</strong> {{ consulta_selecionada.nome_profissional }}</p>
    <p><strong>Especialidade:</strong> {{ consulta_selecionada.especialidade }}</p>
    <p><strong>Observações:</strong> {{ consulta_selecionada.observacoes }}</p>
    {% endif %}

    <h2>Selecione uma Consulta Odontológica</h2>
    <select id="odonto_select" onchange="filtrarConsultaOdonto()">
        <option value="">Selecione uma data</option>
        {% for odonto in consultas_odonto %}
            <option value="{{ odonto.tratamento_data|date:'Y-m-d' }}" {% if consulta_odonto_selecionada and odonto.tratamento_data == consulta_odonto_selecionada.tratamento_data %}selected{% endif %}>
                {{ odonto.tratamento_data|date:'d/m/Y' }}
            </option>
        {% endfor %}
    </select>

    {% if consulta_odonto_selecionada %}
    <h3>Detalhes da Consulta Odontológica</h3>
    <p><strong>Data:</strong> {{ consulta_odonto_selecionada.tratamento_data }}</p>
    <p><strong>Procedimento Realizado:</strong> {{ consulta_odonto_selecionada.procedimento_realizado }}</p>
    <p><strong>Especialidade:</strong> {{ consulta_odonto_selecionada.especialidade }}</p>
    <p><strong>Plano de Cuidado:</strong> {{ consulta_odonto_selecionada.plano_cuidado }}</p>
    {% endif %}

    <br><a href="{% url 'healthybaby:listagem' %}" class="btn btn-primary mt-3">Voltar</a>
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; Healthy Baby 2024</div>
                    <div class="col-lg-2 text-lg-start"><a href=""></a></div>
                    <div class="col-lg-3 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-auto text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
                        <a class="link-dark text-decoration-none me-" href="#!">Termos de uso</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>     

    </body>
</html>