{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Healthy Baby</title>
        
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
        <link href="assets/favicon.ico" rel="stylesheet">

    </head>
    <body class="home-page bg-gray">
        <nav class="navbar navbar-expand-lg bg-transparent navbar-dark fixed-top" id="mainNav" style="background-color: transparent !important;">
            <div class="container bg-transparent">
                <div class="dropdown">
                    <button class="dropbtn bg-transparent">☰</button>
                    <div class="dropdown-content">
                        <a href="{% url 'healthybaby:listagem' %}">Lista de gestantes</a>
                        <a href="{% url 'healthybaby:cadastroGestante' %}">Cadastro de gestante</a>
                        <a href="{% url 'healthybaby:posParto' %}">Dados sobre o parto</a>
                        <a href="{% url 'healthybaby:consultaOdonto' %}">Consulta odontológica</a>
                        <a href="{% url 'healthybaby:consultas' %}">Consultas</a>
                    </div>
                </div>
                <a class="navbar-brand masthead-subheading text-white" href="{% url 'healthybaby:index' %}">Healthy Baby</a>
                <div class="collapse navbar-collapse bg-transparent" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <div class="input-group mx-4">
                            <input type="text" class="form-control bg-transparent" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-light bg-transparent" type="button">
                              <i class="bi bi-search text-white"></i>
                            </button>
                        </div>                          
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn dropdown-toggle p-0 text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'assets/img/user.jpg' %}" alt="Usuário" class="rounded-circle w-10 h-10 custom-img" style="width: 40px; height: 40px;">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'healthybaby:logout' %}">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>                        
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Listagem de gestantes</div>
                <div class="masthead-subheading">Aqui você pode ver todas as gentantes realizando pré-natal!</div>
            </div>
        </header>
        <br>

        <div class="container mt-5">
            <h2 class="text-center">Gestantes cadastradas</h2>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Data Prevista para o Parto</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for gestante in gestantes %}
                        <tr>
                            <td>{{ gestante.id}}</td>
                            <td>{{ gestante.nome }}</td>
                            <td>{{ gestante.data_nascimento }}</td>
                            <td>{{ gestante.cpf }}</td>
                            <td>{{ gestante.telefone }}</td>
                            <td>{{ gestante.data_prevista_parto }}</td>
                            <td>
                                <a href="{% url 'healthybaby:consultas' %}?id={{ gestante.id }}&nome={{ gestante.nome }}&cpf={{ gestante.cpf }}&telefone={{ gestante.telefone }}&nascimento={{ gestante.data_nascimento }}&parto={{ gestante.data_prevista_parto }}">
                                    <img src="{% static 'assets/img/consulta.jpg' %}" style="width: 30px; height: 30px;">
                                </a>                                
                            </td>
                            <td>
                                <a href=""
                                data-id="{{ gestante.id }}" 
                                data-nome="{{ gestante.nome }}"
                                data-cpf="{{ gestante.cpf }}"
                                data-telefone="{{ gestante.telefone }}"
                                data-nascimento="{{ gestante.data_nascimento }}"
                                data-parto="{{ gestante.data_prevista_parto }}">
                                    <img src="{% static 'assets/img/info-icon.jpg' %}" style="width: 30px; height: 30px;">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>      

        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 text-lg-start">Copyright &copy; Healthy Baby 2024</div>
                    <div class="col-lg-2 text-lg-start"><a href=""></a></div>
                    <div class="col-lg-3 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-auto text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politica de privacidade</a>
                        <a class="link-dark text-decoration-none me-" href="#!">Termos de uso</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>